<div class="layout layout--col flex--col flex--stretch-x gap--medium">
    {% render "content", trmnl: trmnl, data: data, size: 'full' %}
</div>

{% render "title_bar", trmnl: trmnl, data: data, user: user %}
