<div class="layout layout--col flex--col flex--stretch-x gap--small">
  {% render "content", trmnl: trmnl, data: data, size: 'quadrant' %}
</div>

{% render "title_bar", trmnl: trmnl, data: data, user: user %}
